/* CSS for website */
body {
    font-family: 微软雅黑,宋体;
    line-height: 200%;
}
p {
    text-indent:2em;
}
.book .book-header .pull-right {
    display: none;
}
.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2 {
    margin: 0;
    font-weight: normal;
    padding-left: 20%;
}
.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size: 1.5em;
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size: 1.25em;
    padding-top: 0;
    padding-bottom: 0.85em;
}
